*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-image: url(../images/banner/banner1.png);
    max-width: 1600px;
    min-height: 806px;
}

#header-container {
    display: flex;
}

.image-container {
    margin-top: 216px;
    margin-left: 900px;
}

.image-container h2 {
    max-width: 525px;
    font-size: 65px;
    font: bold;
    margin-bottom: 24px;
}

.header-container p {
    max-width: 495px;
    font-size: 16px;
    color: #444343;
}

.btn {
    height: 64px;
    width: 160px;
    color: white;
    background-color: #F15B22;
    margin-top: 32px;
    font: bold;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    
}