*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-image: url(../images/banner/banner1.png);
    max-width: 1600px;
    min-height: 806px;
}

#header-container {
    display: flex;
}

.image-container {
    margin-top: 216px;
    margin-left: 845px;
    margin-right: 230px;
}

.image-container h2 {
    max-width: 525px;
    font-size: 65px;
    font: bold;
    margin-bottom: 24px;
}

.header-container p {
    max-width: 495px;
    font-size: 16px;
    color: #444343;
}

.btn {
    height: 64px;
    width: 160px;
    color: white;
    background-color: #F15B22;
    margin-top: 32px;
    font: bold;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    
}

#person {
    display: flex;
}

#person img {
    max-width: 569px;
    min-height: 742px;
    margin-top: 130px;
    margin-left: 206px;
}   

#person .person-heading {
    margin-top: 370px;
    max-width: 416px;
    max-height: 400px;
    margin-left: 87px;
}

#person .person-heading h2 {
    font: bold;
    font-size: 40px;
    max-width: 288px;
    margin-bottom: 24px;
}

#person .person-heading h6 {
    max-width: 416px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #444343;
}

#person .person-heading p {
    max-width: 349px;
    font-size: 16px;
    margin-bottom: 8px;
}

#plan {
    margin: 130px 230px;
    max-width: 1140px; 
}

#plan h2 {
    max-width: 1179px;
    font-size: 40px;
    font: bold;
    text-align: center;
    margin-bottom: 55px;
    
}

#plan .my-plan {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

#plan .my-plan .center {
    align-items: center;
    justify-items: center;
}

#plan .my-plan img {
    
}

#plan .my-plan h3 {
    font-size: 30px;
    font: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}

#plan .my-plan p {
    font-size: 25px;
    color: #737272;
}

#call-now {
    background-image: url(../images/watch.png);
    max-width: 1140px;
    min-height: 300px;
    margin: 0px auto;
    margin-bottom: 130px;
    /* background: linear-gradient(#F15B22 0%, transparent 50% ) */
     /* background: linear-gradient(
    to right,
    rgba(241, 91, 34, 0.8) ,
    rgba(241, 91, 34, 0.4) 50%,
    rgba(241, 91, 34, 0)
  ); */
}

#call-now div {
    max-width: 459px;

}

#call-now h2 {
    font-size: 40px;
    font: bold;
    margin-bottom: 24px;
    margin-left: 64px;
    padding-top: 60px;
    color: white;
}

#call-now button {
    min-width: 160px;
    min-height: 64px;
    margin-left: 64px;
    border: none;
    border-radius: 5px;
    color: #F15B22;
    font: bold;
    font-size: 20px;
    
}




    /* width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   */